/* COMMON(공통적으로 적용되는 부분) */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
/* 
img를 이제부터 글자요소(Inline)가 아닌 Block요소로 취급하겠다 
이미지를 삽입했을 때 빈 공간을 없애기 위함
*/
img {
  display: block;
}
/* a Tag 밑줄 제거 */
a {
  text-decoration: none;
}
.inner {
  width: 1100px; /* 높이는 없고 가로너비 */
  margin: 0 auto; /* 가운데 정렬 */
  position: relative; /* 위치상 부모가 될 수 있는 기준 */
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom:  1px solid #c8c8c8;
}
/* 
모든 inner는 공통 속성에서 정의 했고
자식선택자 사용하여 적용
 */
header > .inner {
  height: 120px;
}
/* 
[수직 가운데 배치] 
습관화!! position:absolute를 사용했다면 부모요소(inner)에도 position값이 있어야 한다! 
[정 중앙 배치]
width / left / right 까지 명시
*/
header .logo {
  height: 75px;
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 
sub-menu = Sing In, My Starbucksm... 
HTML sub-menu에 있는 것 순서대로 정리
*/
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex; /* 검색 아이콘 정렬 */
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex; /* 수평 정렬 */
}
header .sub-menu ul.menu li {
  position: relative;
}
/* 서브 메뉴 구분선 */
header .sub-menu ul.menu li::before {
  content: "";
  display: #e5e5e5;
  width: 1px;
  height: 12px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* 서브 메뉴 구분선 중 Sign In 왼쪽 구분선 제외 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
/* 링크가 달려있다는 것을 hover로 표현 */
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* 가로 세로 사이즈 유지하면서 내부 여백, 테두리 추가 */
  border-radius: 5px;
  outline: none; /* 테두리 선 자동 적용되는 것 해제 */
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
/* 검색 아이콘 눌렀을 때 아이콘 사라지는 효과 */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* Main Menu */
header .main-menu {
  position: absolute; /* 위치상 부모기준으로 배치 */
  bottom: 0;
  right: 0;
  z-index: 1; /* 쌓임 순서 적용 */
  display: flex;
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
/* 
hover 효과를 item__name과 contents까지 화면에 나와야하기 때문에
item 자체에 hover효과 적용
*/
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
} 
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed; /* 뷰포트 기준으로 배치 */
  left: 0;
  display: none; /* 쌓임 순서로 인해 store만 적용되기 때문에 임시 적용 후 아래 hover 적용 */
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: red;
  height: 200px;
}
header .main-menu .item .item__contents .contents__texture {
  background-color: orange;
  height: 100px;
}